/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using The Black Pharaoh and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #232227;
    --color01: #b17f6d;
    --color02: #898b77;
    --color03: #b4a36f;
    --color04: #8f9696;
    --color05: #a58a86;
    --color06: #6296a0;
    --color07: #d8c8a9;
    --color08: #736a60;
    --color09: #c7927a;
    --color10: #9c9f87;
    --color11: #d2bd7d;
    --color12: #adb5b4;
    --color13: #b79a95;
    --color14: #7eb7c0;
    --color15: #f0dfbd;
}
